.message
  .message__content
    %p.message__content--create-group
      グループを作成しました

.account-content
  .account-content__account-name
    account-name
  .account-content__edit
    = link_to "#", class: "account-content__edit--link" do
      = fa_icon 'edit'
    = link_to "#", class: "account-content__edit--link" do
      = fa_icon 'cog'
    