.message
  .message__content
    %p.message__content--create-group
      グループを作成しました

.left-contents
  .user
    hoge
  .group-list
    hoge_group
.right-contents
  .group-contents
    .group-name
      hoge_group
    .message-list
      message
    .message-form
      form