// -------------------------------------------------
// chat screen variables
// -------------------------------------------------

$message-height: 24px !default;
$message-background-color: #38AEF0 !default;

$create-group-font-size: 16px !default;
$create-group-color: white !default;

$account-content-width: 300px !default;
$account-content-hight: 100px !default;
$account-content-background-color: #253141 !default;
$account-content-padding-vertical: 0 !default;
$account-content-padding-horizontal: 20px !default;

$account-name-font-size: 16px !default;
$account-name-font-weight: bold !default;
$account-name-color: #FFFFFF !default;

$edit-item-margin-left: 4.8px !default;

$edit-link-color: #FFFFFF !default;