// -------------------------------------------------
// chat screen variables
// -------------------------------------------------

$message-height: 24px !default;
$message-background-color: #38AEF0 !default;

$message__create-group-font-size: 16px !default;
$message__create-group-color: white !default;

$account-width: 300px !default;
$account-height: 100px !default;
$account-background-color: #253141 !default;
$account-padding-vertical: 0 !default;
$account-padding-horizontal: 20px !default;

$account__account-name-font-size: 16px !default;
$account__account-name-font-weight: bold !default;
$account__account-name-color: #FFFFFF !default;

$account__edit-item-margin-left: 4.8px !default;

$account__edit-link-color: #FFFFFF !default;

$groups-width: 300px !default;
$groups-height: calc(100% - 100px) !default;
$groups-background-color: #2F3E51 !default;
$groups-paddint-top: 20px !default;
$groups-paddint-right: 20px !default;
$groups-paddint-bottom: 0 !default;
$groups-paddint-left: 20px !default;

$groups__group-item-name-font-size: 15px !default;
$groups__group-item-name-color: #FFFFFF !default;
$groups__group-item-name-margin-bottom: 5px !default;

$groups__new-message-font-size: 11px !default;
$groups__new-message-color: #FFFFFF !default;
$groups__new-message-margin-bottom: 40px !default;

$group__padding-vertical: 0 !default;
$group__padding-horizontal: 40px !default;

$group-width: calc(100% - 300px) !default;
$group-height: 100px !default;

$group__group-name-font-size: 20px !default;
$group__group-name-color: #333333 !default;

$group__edit-link-height: 40px !default;
$group__edit-link-line-height: $group__edit-link-height !default;
$group-edit-link-padding-vertical: 0 !default;
$group-edit-link-padding-horizontal: 20px !default;
$group-edit-link-margin-top: 28px !default;
$group-edit-link-border-solid: solid !default;
$group-edit-link-border-width: 1px !default;
$group-edit-link-border-color: #38AEF0 !default;
$group-edit-link-color: #38AEF0 !default;

$messages-width: calc(100% - 300px) !default;
$messages-height: calc(100% - 300px - 90px) !default;