html, body {
  width:  100%;
  height: 100%;
}

.message {
  height: $message-height;
  background-color: $message-background-color;
  &__content {
    &--create-group {
      font-size: $create-group-font-size;
      color: $create-group-color;
      text-align: center;
    }
  }
}

.account-content {
  width:  $account-content-width;
  height: $account-content-hight;
  background-color: $account-content-background-color;
  padding: $account-content-padding-vertical $account-content-padding-horizontal;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__account-name {
    font-size: $account-name-font-size;
    font-weight: $account-name-font-weight;
    color: $account-name-color;
  }
  &__edit-list {
    display: flex;
  }
  &__edit-item {
    margin-left: $edit-item-margin-left;
  }
  &__edit-link {
    color: $edit-link-color;
    text-decoration: none ;
  }
}