html, body {
  width:  100%;
  height: 100%;
}

.message {
  height: $message-height;
  background-color: $message-background-color;
  &--create-group {
    font-size: $message__create-group-font-size;
    color: $message__create-group-color;
    text-align: center;
  }
}

.account {
  width:  $account-width;
  height: $account-height;
  background-color: $account-background-color;
  padding: $account-padding-vertical $account-padding-horizontal;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__account-name {
    font-size: $account__account-name-font-size;
    font-weight: $account__account-name-font-weight;
    color: $account__account-name-color;
  }
  &__edit-list {
    display: flex;
  }
  &__edit-item {
    margin-left: $account__edit-item-margin-left;
  }
  &__edit-link {
    color: $account__edit-link-color;
    text-decoration: none ;
  }
}

.groups{
  width: $groups-width;
  height: $groups-height;
  background-color: $groups-background-color;
  padding: $groups-paddint-top $groups-paddint-right $groups-paddint-bottom $groups-paddint-left;
  box-sizing: border-box;
  &__group-item-name {
    font-size: $groups__group-item-name-font-size;
    color: $groups__group-item-name-color;
    margin-bottom: $groups__group-item-name-margin-bottom;
  }
  &__new-message {
    font-size: $groups__new-message-font-size;
    color: $groups__new-message-color;
    margin-bottom: $groups__new-message-margin-bottom;
  }
  &__group-link {
    text-decoration: none ;
  }
}

.group {
  width: $group-width;
  height: $group-height;
  padding: $group__padding-vertical $group__padding-horizontal;
  box-sizing: border-box;
  &__group-content {
    display: flex;
    justify-content: space-between;
  }
  &__group-name {
    font-size: $group__group-name-font-size;
    color: $group__group-name-color;
    margin-top: 35px;
    margin-bottom: 15px;
  }
  &__edit-link {
    display: inline-block;
    height: $group__edit-link-height;
    line-height: $group__edit-link-line-height;
    padding: $group-edit-link-padding-vertical $group-edit-link-padding-horizontal;
    margin-top: $group-edit-link-margin-top;
    border: $group-edit-link-border-solid $group-edit-link-border-width $group-edit-link-border-color;
    color: $group-edit-link-color;
    text-decoration: none ;
  }
  &__member-list {
    display: flex;
    color: #999999;
  }
  &__member-item {
    margin-right: 4.8px;
  }
}

.messages {
  width: $messages-width;
  height: $messages-height;
  padding: 46px 40px 0 40px;
  box-sizing: border-box;
  &__sub-info {
    display: flex;
  }
  &__post-date {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  &__main-info {
    margin-bottom: 40px;
  }
}