.messages {
  width: $messages-width;
  height: $messages-height;
  padding: $messages-padding-top $messages-padding-right $messages-padding-bottom $messages-padding-left;
  box-sizing: border-box;
  &__sub-info {
    display: flex;
  }
  &__post-date {
    margin-left: $messages__post-date-margin-left;
    margin-bottom: $messages__post-date-margin-bottom;
  }
  &__main-info {
    margin-bottom: $messages__main-info-margin-bottom;
  }
}